packages:
  yum:
    python3: []
    augeas-libs: []

commands:
  01_setup_certbot:
    command: |
      python3 -m venv /opt/certbot/
      /opt/certbot/bin/pip install --upgrade pip
      /opt/certbot/bin/pip install certbot certbot-nginx
      ln -sf /opt/certbot/bin/certbot /usr/bin/certbot
  02_obtain_certificate:
    command: |
      certbot --nginx -d mrtasks.com --non-interactive --agree-tos --email support@mrtasks.com --redirect
    test: "[ ! -f /etc/letsencrypt/live/mrtasks.com/fullchain.pem ]"

container_commands:
  01_restart_nginx:
    command: "systemctl restart nginx"

files:
  "/etc/cron.d/certbot_renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0,12 * * * root /usr/bin/certbot renew --quiet